<div class="container">
  <div class="row mt-4 md-2">
    <div class="col-md-6 mx-auto">
      <%= render "error", customer: @customer %>
      <h3 class="text-center"><strong class="border-bottom border-dark">会員情報編集</strong></h3>
    <%= form_with model: @customer, url:admin_customer_path, method: :patch do |f| %>
      <table class="table table-borderless contents-area mt-3">
        <tbody>
          <tr>
            <th>会員ID</th>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <th>氏名</th>
            <td>
              （姓）<%= f.text_field :last_name,:size=>"28" %>
              （名）<%= f.text_field :first_name,:size=>"28" %>
            </td>
          </tr>
          <tr>
            <th>フリガナ</th>
            <td>
              （セイ）<%= f.text_field :last_name_kana,:size=>"26" %>
              （メイ）<%= f.text_field :first_name_kana,:size=>"26" %>
            </td>
          </tr>
          <tr>
            <th>郵便番号</th>
            <td><%= f.text_field :post_code,:size=>"34" %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= f.text_area :address, size: "70x1" %></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td><%= f.text_field :phone_number,:size=>"34" %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= f.text_field :email,:size=>"34" %></td>
          </tr>
          <tr>
            <th>会員ステータス</th>
              <%= form_with model: @customer, url:admin_customer_path, method: :patch do |f| %>
            <td>
              <%= f.radio_button :is_deleted, false %>
              <%= f.label :is_deleted, '有効' %>
              <%= f.radio_button :is_deleted, true %>
              <%= f.label :is_deleted, '退会' %>
            </td>
              <% end %>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="mb-5 mx-auto">
          <%= f.submit '変更を保存', class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>