<div class="container-fluid border-top border-5 mt-auto">
  <div class="text-center pt-3 mt-3">
    <%= link_to "#", class: "text-decoration-none" do %>
      <i class="fas fa-envelope-square h2 text-light"></i>
    <% end %>
    <%= link_to "#", class: "text-decoration-none" do %>
      <i class="fab fa-line h2 text-light"></i>
    <% end %>
    <%= link_to "#", class: "text-decoration-none" do %>
      <i class="fab fa-twitter-square h2 text-light"></i>
    <% end %>
    <%= link_to "#", class: "text-decoration-none" do %>
      <i class="fab fa-instagram-square h2 text-light"></i>
    <% end %>
  </div>
  <p class="text-center text-light">©Nagano-Cake Inc. All Rights reserved.</p>
</div>

<div class="text-center">
  <%= link_to admin_session_path, class: "text-decoration-none text-light h5" do %>
  <i class="fa-solid fa-lock"></i>
  <% end %>
</div>